body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: black;
}


.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.layout header {
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 600px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

.layout header h1 {
    flex-grow: 1;
    text-align: center;
}

.layout main {
    flex-grow: 1;
}

.layout footer {
    padding: 20px;
}