.error {
    color: red;
    font-weight: 700;
}

.loading {
    color: gray;
    font-weight: 700;
}

.count {
    text-align: center;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: medium solid gray;
    width: 120px;
    height: 200px;
}

.card img {
    height: 100px;
    width: fit-content;
    max-width: 100px;
}