.error {
    color: red;
    font-weight: 700;
}

.loading {
    color: gray;
    font-weight: 700;
}

.goBackContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.goBackButton {
    border: 2px solid black;
    display: flex;
    height: fit-content;
    padding: 10px;
    font-weight: 700;
}

.product {
    display: flex;
    flex-direction: row;
    width: 800px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.gallery .full img {
    max-width: 300px;
    max-height: 500px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.navigation img {
    width: 30px;
    cursor: pointer;
}

.gallery .preview {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.gallery .preview img:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.gallery .preview img {
    max-width: 60px;
    max-height: 100px;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.price h3 {
    font-size: 30px;
}

.price button {
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.price button.active {
    background-color: green;
    color: white;
}

.params {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.colorPicker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.colorPicker button {
    width: 120px;
    height: 30px;
    font-weight: 700;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

.colorPicker button.active {
    border-color: red;
    color: red;
}

.sizePicker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.sizePicker button {
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    background-color: aliceblue;
    cursor: pointer;
}

.sizePicker button.active {
    border-color: red;
    color: red;
}